{% extends "_base.html" %}
{% block content %}
   
   <div id="forest" class="fst"><div style="height: 45px;"></div>
    <h1 class="fsth">Sustainability is the Watch Word</h1>
    <h2 class="fsth"><a href="{{ url_for('main.faq') }}">FAQ</a> &#8486; <a href="{{ url_for('main.specs') }}">Specifications</a> &#8486; <a href="{{ url_for('main.woodcoin') }}">Whitepaper</a>  &#8486; <a href="http://logaddress.org/index.html">Paper Notes</a></h2>
    <p>The Woodcoin team presents an <a href="http://openttd.org" target="_blank">OpenTTD</a> scenario which demonstrates the superiority of sustainable resources versus limited ones. Over the course of 100 years, beginning in 2008, two or more companies can play this map. It is not a guarenteed win for the chopper versus the miner.  </p>
    <p>The most current version of the scenario is available <a href="http://github.com/paulmadore/woodcoin/openttd-scn" target="_blank">here</a>. Below are some screenshots. You may submit a pull request with new scenarios, screenshots, and so on, if you like.</p>
    
   <!--p>There are some online servers currently running the scenario 24 hours a day.</p-->
   
    <footer>
  Many icons designed by <a href="http://freepik.com" target="_blank">Freepik</a>. 
 </footer> 
   
   </div>
   {% endblock %}
 